server {
    listen 80;
    server_name app.{{ app_domain }};
    return 301 https://app.{{ app_domain }}$request_uri;
}


server {
    listen 443 ssl;

    server_name app.{{ app_domain }};


    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;

    root {{ deploy_directory }}/current/build;

    try_files $uri/index.html $uri @app;

    location / {
      try_files $uri $uri/ /index.html;
    }
}
